
.btn_black {
    color: black !important;
    box-shadow:none !important;
    padding:0 !important;
    word-wrap: none !important;


}
.btn{
    outline: none;
    border: none;
    color: white;
    background-color:#198754;
    border-radius: 60px;
    font-weight: 700;
    margin-right: 1%;
}

::ng-deep .navCss nav
   {
        background-color: white;
        z-index: 100;
   }
.navbar-toggler{

    background-color: rgba(68, 68, 68, 0.363) !important;
}

.navbar-brand, .nav-link  {
    color: black !important;
}



.black_color{
    color: black;
    background-color: white;
    border-radius: 50px;

}


.search{

    width: 100%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(248, 26, 92);
}

.btn_pro{
    height: 50px;
    width: 20%;
    outline: none;
    border: none;
    color: black;
    border-radius: 60px;
    font-weight: 700;
   
    align-items: center;
}



.navbar-light .navbar-brand {
    color: black;
}
.icon{
    width: 22px;
}




