<mdb-navbar SideClass="test navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" class="navCss">

  <h1 class="navbar-brand " href="#">
    <div class="logo">
      <div class="row">
        <a href=""><img src="https://img.icons8.com/ios-glyphs/60/000000/shop.png"/></a>
      </div>
      <div class="row text-center">
        <a>Incio</a>
      </div>
    </div>
  </h1>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col-10">

    </ul>
    <ul class="navbar-nav col-3 align-self-end">

      <form class="d-flex">
        <ng-template *ngIf="sesionActiva == false; then loginButton">

        </ng-template>
        <ng-template #loginButton>
          <button (click)="goLogin()" class="btn">
            <a>LOGIN</a>
          </button>
        </ng-template>
        
        
        
        <ng-template *ngIf="sesionActiva == true;then logOutButton"></ng-template>
        
        <ng-template #logOutButton>
          <div class="row">
            <div class="col">
              <button (click)="logOut()" class="btn">
                <a class="a">LOGOUT</a>
              </button>
            </div>
            
              <div class="col p-1">
                <h2>{{nameUser}}</h2>
              </div>
          </div>
          
        </ng-template>


      </form>

    </ul>

  </div>
</mdb-navbar>