

.main{
    background: url("https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")no-repeat;
    background-size: cover;
    height: 70%;
    background-position: 50% 50%;
    width: 100%;
}

.pt-5 {
    background-color: white;
    border-radius:30px;
    margin-bottom: 5%;
}

.row {
    margin-bottom: 30px;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
}


h1{
    font-weight: 700;
}

.card:hover{
    box-shadow: -1px -1px 21px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: -1px -1px 21px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: -1px -1px 21px 0px rgba(0,0,0,0.62);
    transition: 0.5s;
}

.apple{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    background-size: cover;
    height: 40vh;
    width: 100%;
}

.apple h1{
    font-family: 'Lobster', cursive;
}
.search{
    margin-top: 6px;
    height: 46px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(248, 26, 92);
}
.form-search{
    align-content: right;
}

.btn{
    outline: none;
    border: none;
    color: white;
    background-color:#198754;
    border-radius: 60px;
    font-weight: 700;
    margin-right: 1%;
}

.search_box{
    margin-bottom: 5%;
}
.btn2{
    outline: none;
    border: none;
    color: white;
    border-radius: 60px;
    font-weight: 700;
    margin-right: 1%;
}

.icon{
    width: 25px;
}